<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <h1> 필터링 </h1>
    <div id="app">
        <div id="list">
            <div>
                search = <input type="text" v-model="value" />
            </div>
            <ul v-for="user in search()">
                <li>{{user}}</li>
            </ul>
        </div>
    </div>

    <script>
        let data = {
            list: ["김철수", "홍길동", "영심이", "임꺽정", "이철수", "김철식"],
            value: ""
        }
        const { createApp } = Vue
        createApp({
            // data 는 프로퍼티
            data() {
                return data;
            },
            methods: {
                search() {
                    // 입력한 값이 없으면 전체 출력
                    if (this.value.length == 0)
                        return this.list;
                    // name이란 매개변수를 받아옴
                    return this.list.filter((name) => {
                        // indexOf : 어떤 값의 위치를 알기 위해
                        // -1 이라면 찾는 값이 없을 때
                        return name.indexOf(this.value) != -1
                    })
                }
            }
        }).mount("#app")
    </script>
</body>

</html>