body{
    height: 100vh;
}

.container{
    padding: 50px 0px;
    
    justify-content: center;
}

.container .txt{
    /* 글자체 */
}

.container .txt .txt-pitcher{
    /* 위치조정 */
    position: absolute;
    top: 750px;
    left: 330px;
}

.container .txt .txt-batter{
    position: absolute;
    top: 750px;
    left: 1050px;
}

.container .txt .coach{
    
}

/* .container .img{ */
    /* 3등분 나누기 */
    /* width:400px;
    height:500px; */
    /* 여백으로 위치 조정 */
    /* margin : 95px 130px;
    border: 3px solid wheat; */
        /* 모서리 둥글게하기 */
        /* border-radius: 10px; */
    /* background-color: aqua; */
    /* 기울기 */
    /* transform: skewX(-14deg); */
/* } */

.container .img .img-pitcher{
    /* 사진, 위치 */
    width:400px;
    height:500px;
    /* 여백으로 위치 조정 */
    margin : 95px 100px;
    border: 3px solid wheat;
    /* 모서리 둥글게하기 */
    border-radius: 10px;
    /* 기울기 */
    transform: skewX(-14deg);
    background-image: url("https://i.pinimg.com/236x/e4/d8/ec/e4d8ec4e5c33590bfde34d87ab0c65c4.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: skewX(14deg) translateX(-16px);
}

.container .img .img-batter{
    width:400px;
    height:500px;
    /* 여백으로 위치 조정 */
    margin : -600px 800px; 
    border: 3px solid wheat;
    /* 모서리 둥글게하기 */
    border-radius: 10px;
    /* 기울기 */
    transform: skewX(14deg);
    background-image: url("https://i.pinimg.com/236x/6d/ef/d1/6defd1e5f03d74b0fb2e0da2115e0d6f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    /* https://i.pinimg.com/236x/7f/4d/f7/7f4df7664a1f3b5e8bdc15f6880e6b45.jpg  */
}

.container .img .img-coach{
    /* width:400px; */
    /* height:500px; */
    /* 여백으로 위치 조정 */
    /* margin : 95px 130px;
    border: 3px solid wheat; */
        /* 모서리 둥글게하기 */
        /* border-radius: 10px; */
    /* background-color: aqua; */
    /* 기울기 */
    /* transform: skewX(-14deg); */
    /* https://i.pinimg.com/236x/40/1f/f8/401ff8d82eda85f068b88e7df6071815.jpg */
}
