body{
    height: 100vh;
}

.container{
    padding: 50px 0px;
}

.container .txt{
    /* 글자체 */
}

.container .txt .txt-pitcher{
    /* 위치조정 */
    position: absolute;
    top: 750px;
    left: 250px;
}

.container .txt .batter{
    
}

.container .txt .coach{
    
}

.container .img .pitcher{
    /* 사진, 위치 */
}

.container .img .batter{
    
}

.container .img .coach{
    
}
